<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributes</key>
	<array>
		<dict>
			<key>allowsNull</key>
			<string>Y</string>
			<key>columnName</key>
			<string>code</string>
			<key>externalType</key>
			<string>CHAR</string>
			<key>name</key>
			<string>code</string>
			<key>valueClassName</key>
			<string>NSString</string>
			<key>width</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>columnName</key>
			<string>id</string>
			<key>externalType</key>
			<string>INT</string>
			<key>name</key>
			<string>idNum</string>
			<key>valueClassName</key>
			<string>NSNumber</string>
			<key>valueType</key>
			<string>l</string>
		</dict>
		<dict>
			<key>allowsNull</key>
			<string>Y</string>
			<key>columnName</key>
			<string>name</string>
			<key>externalType</key>
			<string>VARCHAR</string>
			<key>name</key>
			<string>name</string>
			<key>valueClassName</key>
			<string>NSString</string>
			<key>width</key>
			<integer>34</integer>
		</dict>
		<dict>
			<key>columnName</key>
			<string>region</string>
			<key>externalType</key>
			<string>INT</string>
			<key>name</key>
			<string>regionId</string>
			<key>valueClassName</key>
			<string>NSNumber</string>
			<key>valueType</key>
			<string>l</string>
		</dict>
		<dict>
			<key>allowsNull</key>
			<string>Y</string>
			<key>columnName</key>
			<string>two_char_code</string>
			<key>externalType</key>
			<string>CHAR</string>
			<key>name</key>
			<string>twoCharCode</string>
			<key>valueClassName</key>
			<string>NSString</string>
			<key>width</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>attributesUsedForLocking</key>
	<array>
		<string>code</string>
		<string>idNum</string>
		<string>name</string>
		<string>regionId</string>
		<string>twoCharCode</string>
	</array>
	<key>className</key>
	<string>RRSCountry</string>
	<key>classProperties</key>
	<array>
		<string>code</string>
		<string>states</string>
		<string>region</string>
		<string>name</string>
		<string>twoCharCode</string>
	</array>
	<key>externalName</key>
	<string>country</string>
	<key>fetchSpecificationDictionary</key>
	<dict/>
	<key>name</key>
	<string>COUNTRY</string>
	<key>primaryKeyAttributes</key>
	<array>
		<string>idNum</string>
	</array>
	<key>relationships</key>
	<array>
		<dict>
			<key>destination</key>
			<string>REGION</string>
			<key>isToMany</key>
			<string>N</string>
			<key>joinSemantic</key>
			<string>EOInnerJoin</string>
			<key>joins</key>
			<array>
				<dict>
					<key>destinationAttribute</key>
					<string>id</string>
					<key>sourceAttribute</key>
					<string>regionId</string>
				</dict>
			</array>
			<key>name</key>
			<string>region</string>
		</dict>
		<dict>
			<key>deleteRule</key>
			<string>EODeleteRuleCascade</string>
			<key>destination</key>
			<string>STATE</string>
			<key>isToMany</key>
			<string>Y</string>
			<key>joinSemantic</key>
			<string>EOInnerJoin</string>
			<key>joins</key>
			<array>
				<dict>
					<key>destinationAttribute</key>
					<string>countryId</string>
					<key>sourceAttribute</key>
					<string>idNum</string>
				</dict>
			</array>
			<key>name</key>
			<string>states</string>
			<key>ownsDestination</key>
			<string>Y</string>
		</dict>
	</array>
</dict>
</plist>
